{% extends "registration/base.html" %}
{% load i18n %}

{% load staticfiles %}
{% block title %}{% trans "Cipher message" %}{% endblock %}

{% block content %}

<div class="containerbody"> 
   <h2 class="bluetitle">{% trans "Cipher message" %}</h2>
  <script src="{% static "registration/js/vendor/jquery-1.9.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "utils/js/gpg.js" %}" type="text/javascript" charset="utf-8"></script>
<p><span style="font-size:12pt">{% trans "After encrypting yout message, copy and paste to send it through a web application, for example gmail, facebook,etc." %}</span></p>
	<div class="form">
	   <form action="#" method="post" onSubmit="encrypt(); return false" name="myform" id="myform">
	    {% csrf_token %}
	    <div class="form-group">
	    	<label for="id_email" class="labelform" >Contact Mail: </label><input  id="id_email" class="inputform" type="email" name="mail" readonly="readonly" value="{{userprofile.email}}"/>
	    </div>
		<div class="form-group"> 
	    	<label for="id_message" class="labelform">Your message: </label><textarea  id="id_message" class="inputtextform" name="message"></textarea>
	    </div>
	    <div class="form-group">
			<input class="btn-download center" type="submit" value="{% trans 'Cipher' %}" /><span id="button_1"></span>
		</div>
		  <div class="form-group">
		<input type="hidden" name="pubkey" id="pubkey" value="{{userprofile.public_key}}"/>
		</div>
	   </form>
	</div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
