/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}



body {
    font-size: 1em;
    line-height: 1.4;
    background: url('../img/slideheader.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
.error {
	text-align: left;
	color: red;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    font-size: 12px
    }

.errorlist {
	text-align: left;
	color: red;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    font-size: 12px
    }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.site-header {
    background-color: #1B75BB;
    height: 60px;
}

.site-header-container{
    display: block;
    width: 760px;
    margin: 0 auto;
    padding: 0 10px;
}

.site-logo{
    float: left;
    height: 56px;
    width: 260px;
    margin: 10 0 0 10px;
    background: url('../img/logo.png') no-repeat;
}

.container{
    display: block;
    width: 760px;
    margin: 0 auto;
    padding: 0 10px;
}

.nav_main {
    float: right;
    padding-right: 2.073%;
    /*margin: 1.944em 0;*/
    margin-right: 2.073%;
}

.nav_main li {
    display: block;
    float: left;
}

.nav_main a {
    padding: 0.333em 0.444em 0.222em 0.444em;
    display: block;

    color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.nav_main .get_started_top {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.get_title {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 2.073%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2.073%;
    color: #fff;
    background: #1B75BB;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

.site-content{
    overflow: hidden;
    padding: 1em 0 1em;
    color: #333;
    background: #fff;
    width: 100%;
}

.description {
    margin: 0;
    font-size: 1.25em;
    color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: 1px 1px #222;
}

h1{
    color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: 1px 1px #222;
    font-size: 56px;
    margin: 20px 0 0 0;
}

h2 {
    margin: 1.5em 0 0.5em 0;
    font-size: 2em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #1B75BB;
}

.bluetitle{
    text-align: center;
}

.cta-option {
    position: relative;
    margin: 2.5em auto;
    width: 290px;
    vertical-align: top;
}

.btn-download {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: .5em 1.2em;
    border: 0px solid #1B75BB;
    color: #fff;
    background: #1B75BB;
    border-radius: 4px;
    font-size: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}

.last-update {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-size: .75em;
    text-align: center;
}

.grid {
margin: 0 auto;
letter-spacing: -.31em;
word-spacing: -.43em;
text-rendering: optimizespeed;
}

.grid-cell {
display: inline-block;
vertical-align: top;
width: 50%;
letter-spacing: normal;
word-spacing: normal;
text-align: left;
text-rendering: auto;
}

.grid-cell p{
    margin: 1em 1em 1em 0;
}

.containerbody{
    display: block;
    width: 760px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
}

.site-footer {
    padding: 2em 0;
    font-size: .875em;
    background-color: #F4F4F4;
}

.site-footer a {
    color: #1B75BB;
    text-decoration: none;
}

.containerfooter{
    display: block;
    width: 760px;
    height: 80px;
    margin: 0 auto;
    padding: 0 10px;
}

.imgcenter{
    width: 542px;
    margin: 0 auto;
}

.downmessage{
    font-size: 1.2em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    font-weight:bold;
    margin-top: 0;
}


/* ==========================================================================
   Form Login
   ========================================================================== */

.form{
    display: block;
    margin: 20px auto;
    padding: 40px;
    width: 600px;
    height: auto;
    border: solid 1px #888B8A;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #d8d8d8;
}

.form-group{
    text-align: right;
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
}

.labelform{
    width: 170px;
    float: left;
    padding-top: 10px;
    height: 40px;
    color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.inputform{
    padding-left: 10px;
    float: right;
    margin-left: 10px;
    width: 400px;
    height: 40px;
    border: solid 1px #888B8A;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.inputtextform{
    padding-left: 10px;
    float: right;
    margin-left: 10px;
    width: 400px;
    height: 100px;
    border: solid 1px #888B8A;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.center{
    display: block;
    width: 200px;
    margin: 20px auto;
}

.form-group p{
    text-align: center;
    padding-top: 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
