<!DOCTYPE html>
<html>
  <head>
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/js/jquery.js"></script>

    <script src="/static/js/bootstrap.min.js" media="screen"></script>

    <script src="/static/js/openpgp.js"></script>

    <script src="/static/js/aes2.js"></script>

    <script src="/static/js/base64.js"></script>

    <script src="/static/js/loginOauth.js"></script>

    <script src="/static/js/gpg.js"></script>

    <script src="/static/js/translator.js"></script>

    <script src="/static/js/keyusers.js"></script>

    <script src="/static/js/controller.js"></script>


    <link type="text/css" rel="stylesheet" href="/static/css/default.css"/>

    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>


  </head>
  <body>

    <div class="container">

      <!--Login-->
      <div class="login-container hide">

        <div class="enigma-logo"></div>
        <div class="form-box">
          <div class="form-group">
            <label for="username" class="control-label" data-label="">{{username}}</label>
            <input type="text" placeholder="{{username}}" id="username" class="form-control"/>
            <div id="usernameError" class="error hide"></div>
          </div>
          <div class="form-group">
            <label for="password" class="control-label">{{password}}</label>
            <input type="password" placeholder="{{password}}" id="password" class="form-control"/>
            <div id="passwordError" class="error hide"></div>
          </div>
          <!-- Div for showing log-in errors-->
          <div id="logInErrors" class="error hide"></div>
          <button class="btn btn-primary col-sm-offset-5" id="buttonLogin" type="button">{{sign_up}}</button>
        
        </div>
        <p>{{do_not_have_acount}}<a class="external-link" href="https://app.enigmagpg.com/accounts/register">{{sign_up}}</a></p>
        <p>{{lost_password}}<a class="external-link" href="https://app.enigmagpg.com/accounts/password/reset/">{{reset_password}}</a></p>

      </div>

      <!--Home-->

      <div class="home-container hide">
        
        <div class="enigma-logo"></div>
        
        <ul class="nav nav-pills" id="homeActions">
          <li class="active"><a class="tab" id="cipherTextTab" href="#ciperText">{{cipher_text}}</a></li>
          <li><a  class="tab" href="#deciperText" id="decipherTextTab">{{decipher_text}}</a></li>
          <li><a class="external-link" href="https://app.enigmagpg.com/user/invite/">{{invite_user}}</a></li>
          <li><a href="#" id="buttonLogOut">{{log_out}}</a></li>
        </ul>

        <div class="tab-content">
          
          <div class="tab-pane active" id="ciperText">

            <div class="form-box">

              <div id="searchBox" class="input-group search">
                <input type="text" class="search-input" placeholder="{{search_contacts}}" id="searchBar">
              </div>
              <div id="searchBarError" class="error hide"></div>
             
              <div class="dropdown">
                <ul class="dropdown-menu" id="keyUserList"></ul>
              </div>

              <textarea class="form-control" id="textAreaCipher"></textarea>

              <div id="textAreaCipherError" class="error hide"></div>

              <button class="btn btn-primary col-sm-offset-5" id="buttonCipher" type="button">{{cipher}}</button>
              
              <pre id="pubkey" class="hide"></pre>
            </div>
          
          </div>

          <div class="tab-pane" id="deciperText">
            <div class="form-box">
              <input type="password" placeholder="{{key_password}}" class="form-control" id="keyPassword"/>
              <div id="keyPasswordError" class="error hide"></div>
              <textarea class="form-control" id="textAreaDecipher"></textarea>
              <div id="textAreaDecipherError" class="error hide"></div>
              <button class="btn btn-primary col-sm-offset-5" id="buttonDecipher" type="button">{{decipher}}</button>
            </div>
          </div>


        </div>
        <!-- Div for showing home errors-->
        <div id="homeErrors" class="error hide"></div>
      
      </div>  
      <div class="spinner hide"></div>
    </div>

    <footer>
      <p>{{copyrights}}<a class="external-link" href="http://www.talsoft.com.ar/">{{made_in}}</a>{{beta_version}}<a class="external-link" href="https://bitbucket.org/enigmagpg/enigmagpg/issues?status=new&status=open">{{report_issue}}</a></p>
    </footer>

  </body>
</html>

