{% extends "registration/base.html" %}

{% load i18n %}
{% block content %}
<div class="containerbody"> 
  <h2 class="bluetitle">{% trans "User Profile" %}</h2>
   <div class="form">
		<form action="." method="POST">
		  {% csrf_token %}
			  {% for field in form %}
			  <div class="form-group">
			    {{ field.help_text }}
			    <div class="labelform">
			      {{ field.label_tag  }}
			    </div>  
			    {{field|escape }}
			    <div id="{{ field.auto_id }}_errors" class="error">
			      {{ field.errors }}
			    </div>
			  </div>
		  {% endfor %}
		  <div class="form-group">
		  	<input class="btn-download center" type="submit" value="Save" />
		  </div>
		</form>
	</div>
</div>
{% endblock %}