{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="containerbody"> 
  <h2 class="bluetitle">{% trans "Password Keys" %}</h2>
<p><span style="font-size:12pt">{% trans "To configure your user profile, enter a password to generate your public and private key can decrypt the messages it receives. We do not store this password in our system, only you know." %}</br>{% trans "Note: the password must contain a minimum of 8 characters, 1 uppercase, 1 lowercase and 1 digit." %} </span></p>
 <div class="form">
	<form id="frm1" action="{% url 'requestforcerenewkeyscomplete' %}" method="POST">
		{% csrf_token %}
	<div class="form-group">
		{{ form.keypassword.errors }}
		{{ errorgenerate }}
	</div>
	<div class="form-group">
    
		<label for="id_keypassword" class="labelform">{% trans 'Key Password:' %}</label> 
		<input id="id_keypassword" class="inputform" maxlength="254" name="keypassword" type="password" />  
	</div>
	<div class="form-group">
		<input class="btn-download center" type="submit" value="{% trans 'Generate Keys' %}" />
	</div>
	</form>
</div>
</div>
{% endblock %}
