{% extends "base.html" %}
{% load i18n %}
{% csrf_token %}
{% block content %}
<h1>Contact us</h1>
	<form action="{{ action }}" method="POST">
	 {% csrf_token %}
	<div class="fieldWrapper">
	{{ form.topic.errors }}
	<label for="id_topic">Kind of feedback:</label>
	{{ form.topic }}
	</div>
	<div class="fieldWrapper">
	{{ form.message.errors }}
	<label for="id_message">Your message:</label>
	{{ form.message }}
	</div>
	<div class="fieldWrapper">
	{{ form.sender.errors }}
	<label for="id_sender">Your email (optional):</label>
	{{ form.sender }}
	</div>
	<p><input type="submit" value="Submit"></p>

	</form>
{% endblock %}