{% extends "registration/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<div class="containerbody" style="text-align: justify"> 

<h2>What Is EnigmaGPG for Bussines?</h2>
<p><span style="font-size:10pt;text-align: justify">
EnigmaGPG allows you to encrypt messages. Ensuring the authenticity, privacy and confidentiality of messages for your Business.<br>

<strong>Features:</strong><br>
- Allows communication messages private and confidential using public and private keys to encrypt and sign information.<br>
- Does not store messages. Manage your public and private keys centrally.<br>
- EnigmaGPG is a messenger platform simple, secure and user friendly for your business or friends.<br>
- Available for mobile devices through iOS and Android application.<br>
- Install, configure and manage a secure messaging platform for your business or group of friends.<br>
- Simple, Secure & Free Software.<br> </span></p>
<hr>
 <h2>{% trans "How to use?" %}</h2>
<p><span style="font-size:10pt;text-align: justify">
<strong>Steps:</strong><br>
1. Register Demo Live http://www.enigmagpg.com<br>
2. Login in and download extension browser.<br>
3. Invite contacts.<br>
<br>
<strong>Write a message:</strong><br>
1. Right-mouse click and go to Enigma GPG-> Cipher<br>
2. Select a contact and write a messages<br>
3. Copy and paste your cipher message in you gmail, facebook, o another web application.<br>
<br>
<strong>Read a message:</strong><br>
1. Right-mouse click and go to Enigma GPG-> Decipher<br>
2. Enter the Password.<br>
3. Paste message to Decipher EnigmaGPG.<br>
 </span>
</p>
<hr>
<h3>Design</h3>

<p><span style="font-size:10pt;text-align: justify">

The system consists of 2 EnigmaGpg modules respectively:<br>
- <strong>Daemon</strong>: This module is a web server that runs on the local network over HTTP/SSL. This takes care of exposing an API to Customer Module and interact with the system you have installed a browser addons.<br> 
- <strong>Customer Module</strong>: This module are extensions of browsers, in this case, there are modules for Chrome and Firefox. This module displays a graphical user interface, a contextual menu appears with the right mouse button, and communicates with the daemon for API to perform all system funcionalides.<br>
 </span></p>

 <h2>{% trans "What is GnuPG?" %}</h3>
 <p><span style="font-size:10pt;text-align: justify"> 
EnigmaGPG use GnuPG, it's a tool used to protect the privacy of the user in electronic communications. 
Protection exists only if the user can communicate with others and no one else can read the messages. 
GnuPG tries to ensure this privacy. It uses public key cryptography in which each user has a pair of keys. A pair of keys consists of a public key and a private key. A public key consists of the public portion of the master signing key, the public portions of the signing and encryption subkeys, and a set of user IDs that are used to associate the public key with a real person. Each of these parts contains data about itself. For a key, this data includes its ID, creation date, expiration date, etc . For a user identifier, this data includes the name of the person it identifies, an optional comment, and email address. The structure of the private key is similar, except that it contains only the private parts of the keys, and does not have the user ID information. 
Each user's private key is kept secret, it must not be revealed ever. The public key can be given to any person with whom the user wants to communicate.


 <h3>Encryption</h3>
</br>
<span style="font-size:10pt;text-align: justify">
Each user has a pair of keys: a public and a private. Each one has a specific role in the encryption and decryption of documents. You can think of a public key as a safety deposit box. When a sender encrypts a document using a public key, that document is put in the safe, the box closes, and the combination lock spun several times. The share of the private key, that is, the recipient, is the combination that can re-open the case and remove the paper. 
	Put it another way, only the person who owns the private key can retrieve a document encrypted using the associated public key encryption. 
	This model demonstrates the procedure for encrypting and decrypting documents in a very simple way. If the user wants to encrypt a message for Peter, it would use the public key of Peter, and Peter would decrypt it with his private key. </span></p>
	</br>
</span>
<hr>
 <h3>GnuPG FAQs</h3>
   <a href="FAQs http://www.gnupg.org/faq/gnupg-faq.html" >{% trans 'GnuPG FAQs' %}</a> </span></p>
<h3>Picking a good password</h3>
</br>
<span style="font-size:10pt;text-align: justify">
<p>EnigmaGPG use the GPG system for symmetric as well as asymmetric encryption schemes. Either method requires the use of a password or pass phrase. For a password containing uppercase and lowercase letters, digits, and special characters, 8-10 characters are sufficient for most users. This should *not* be your current CS password.</p>
<p>It is important if you use a 8-character password that you choose those characters randomly from the available typable characters on a standard keyboard (about 94). Assuming a cracker can brute-force check 100,000 passwords a second (doable on even a Pentium III), this is how long it would take (worst case scenario) to crack your password:</p>
<table>
<thead>
<tr><th >Letters available for password</th><th >Letters used in password</th><th >Time to crack</th></tr>
</thead>
<tbody>
<tr>
<td>26 (lowercase characters)</td>
<td>3</td>
<td>26<sup>3</sup>*.00001 = 0.18 seconds</td>
</tr>
<tr>
<td> </td>
<td>8</td>
<td>26<sup>8</sup>*.00001 = 2,088,271 seconds = 24.17 days</td>
</tr>
<tr>
<td>52 (English characters)</td>
<td>3</td>
<td>52<sup>3</sup>*.00001 = 1.4 seconds</td>
</tr>
<tr>
<td> </td>
<td>8</td>
<td>52<sup>8</sup>*.00001 = 534,597,285 seconds = 17 years</td>
</tr>
<tr>
<td>94 (keyboard characters)</td>
<td>3</td>
<td>94<sup>3</sup>*.00001 = 8.3 seconds</td>
</tr>
<tr>
<td> </td>
<td>8</td>
<td>94<sup>8</sup>*.00001 = 6.09*10<sup>10</sup> seconds = 1,933 years</td>
</tr>
</tbody>
</table>
<p>Naturally, the above supposes that the cracker only has one Pentium III system available. Even a small cluster of Core 2 Duo systems could cut the above times by a factor of about 25-100. Also, using a random key search, the cracker has a 50:50 chance of finding the password in half the time listed. As you can see, cracking an 8-character password consisting of all English language characters suddenly becomes quite feasible, taking maybe 1-3 months using a few fast systems. Brute-forcing a truly random 8-character password with the characters chosen from a pool of 94 would require the computing power equivalent of thousands of Pentium IIIs to succeed in an appreciable time. Using a 10 character password from a 94-character space would take over 17,000 millenia on a Pentium III and is unrealistic even using a large cluster of modern systems.</p>
</span>
<hr>
 <div class="grid"> 
    <div class="grid-cell"> 
        <h3><span class="star"><img src="{% static "registration/img/but1.png" %}"/>&nbsp;</span> Simple, Secure & beautiful</h3> 
        <p>Security is complex and unfriendly. But Enigma<br> is a messenger platform simple, secure and user friendly.</p> 
    </div> 
    <div class="grid-cell"> 
        <h3><span class="star"><img src="{% static "registration/img/but2.png" %}"/>&nbsp;</span> Data Encryption and Decryption</h3> 
        <p>Allows communication messages private and confidential using public and private keys to encrypt and sign information. <strong>Does not store messages and keys periodically renewed</strong>.</p> 
    </div> 
    <div class="grid-cell"> 
        <h3><span class="star"><img src="{% static "registration/img/but3.png" %}"/>&nbsp;</span> Mobile</h3> 
        <p>Available for mobile devices through iOS <br>and Android application.</p> 
    </div> 
    <div class="grid-cell"> 
        <h3><span class="star"><img src="{% static "registration/img/but4.png" %}"/>&nbsp;</span> API for developers</h3>
        <p>Developers can use Enigma API for create <br>secure Mobile, Web and Desktop Applications.</p> 
    </div> 
</div> 
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
