{% extends "registration/base.html" %}

{% block title %}Account activated{% endblock %}

{% block content %}
<div class="containerbody"> 
  <h2 class="bluetitle">Account activated.</h2>
  {% load humanize %}
  {% if account %}
    <p>Thanks for signing up! Now you can <a href="/accounts/login/">log in</a>.</p>
  {% else %}
    <p>Sorry, it didn't work. Either your activation link was incorrect, or
    the activation key for your account has expired; activation keys are
    only valid for {{ expiration_days|apnumber }} days after
    registration.</p>
  {% endif %}
</div>

{% endblock %}