{% extends "registration/base.html" %}

{% block title %}Activation complete{% endblock %}

{% block content %}
<div class="containerbody"> 
  <h2 class="bluetitle">Congratulations!</h2>
<p>Your registration is now complete. Go to the site and start having fun!</p>
</div>
{% endblock %}