{% extends "registration/base.html" %}

{% block title %}| Log in{% endblock %}

{% block content %}
{% load staticfiles %}
							

 <div class="containerbody"> 
 				
 				
 				
                <img class="center" src={% static  "registration/img/icono.png"%}>
               	
               	
				<script>
				function formSubmit()
				{
				document.getElementById("frm1").submit();
				}
				</script>
                <div class="form">
                {% if form.errors %}
				<p class="error">Incorrect Login.</p>
				{% endif %}
                    <form id="frm1" method="post" action="?next={{ next|default:"/" }}">
                    {% csrf_token %}
                        <div class="form-group">
                            {% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}
                            <label for="id_username" class="labelform">Username: </label>
                            <input id="id_username" class="inputform" maxlength="254" name="username" type="text" />
                        </div>
                        <div class="form-group">
                            {% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
                            <label class="labelform" for="id_password">Password: </label>
                            <input id="id_password" class="inputform" name="password" type="password" maxlength="254">
                         </div>
                        <div class="form-group">
                            <input class="btn-download center" type="submit" value="Sign In!">
                 		</div>
                        <div class="form-group">
							<p>Do not have your account EnigmaGPG?<a href="{% url 'registration_register' %}">Sign up!</a>
                            <br>
                            Lost your password?<a href="{% url 'auth_password_reset' %}">Reset Password</a></p>
                        </div>
                    </form>
                </div>
            </div>
	{% endblock %}

</div>
{% block content-related %}
{% endblock %}