{% extends "registration/base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}
<div class="containerbody"> 
  <h2 class="bluetitle">You've been logged out.</h2>
<p>Thanks for stopping by; when you come back, don't forget to <a href="/accounts/login/">log in</a> again.</p>
</div>
{% endblock %}