{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
<div class="containerbody"> 
  <h2 class="bluetitle">{% trans 'Password change successful' %}</h2>
<p>{% trans 'Your password was changed.' %}</p>
</div>
{% endblock %}

{% block content-related %}

{% endblock %}