{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}
<div class="containerbody"> 
  <h2 class="bluetitle">{% trans 'Enter new password' %}</h2>
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
 <div class="form">
	<form action="" method="post">
		{% csrf_token %}
	<div class="form-group">	
		{{ form.new_password1.errors }}
		<p class="aligned wide"><label for="id_new_password1" class="labelform">{% trans 'New password:' %}</label>
		<input id="id_new_password1" class="inputform" maxlength="254" name="new_password1" type="password" /></p>
	</div>
	<div class="form-group">
		{{ form.new_password2.errors }}
		<p class="aligned wide"><label for="id_new_password2" class="labelform">{% trans 'Confirm password:' %}</label>
		<input id="id_new_password2" class="inputform" maxlength="254" name="new_password2" type="password" /></p>
	</div>
	<div class="form-group">
		<p><input class="btn-download center"  type="submit" value="{% trans 'Save' %}" /></p>
	</div>
	</form>
</div>
{% else %}

<h2 class="bluetitle">{% trans 'Password reset unsuccessful' %}</h2>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</div>
{% endblock %}
