{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="containerbody"> 
  <h2 class="bluetitle">{% trans "Password reset" %}</h2>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
 <div class="form">
	<form action="" method="post">
		{% csrf_token %}
    <div class="form-group">
		{{ form.email.errors }}
		<p><label for="id_email" class="labelform">{% trans 'E-mail address:' %}</label> 
		<input id="id_email" class="inputform" maxlength="254" name="email" type="text" />  
	</div>
	<div class="form-group">
		<input class="btn-download center" type="submit" value="{% trans 'Reset' %}" /></p>
	</div>
	</form>
</div>
{% endblock %}
