
{% extends "registration/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}
  <h2 class="bluetitle">{% trans 'Password change' %}</h2>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<div class="form">
	<form action="" method="post">
	{% csrf_token %}
	<div class="form-group">
	{{ form.old_password.errors }}
	<p class="aligned wide"><label for="id_old_password" class="labelform">{% trans 'Old password:' %}</label>
	<input id="id_old_password"  class="inputform" name="old_password" type="password" /></p></p>
	</div>
	<div class="form-group">
	{{ form.new_password1.errors }}
	<p class="aligned wide"><label for="id_new_password1" class="labelform">{% trans 'New password:' %}</label>
	<input id="id_new_password1"  class="inputform" name="new_password1" type="password" /></p></p>
	</div>
	<div class="form-group">
	{{ form.new_password2.errors }}
	<p class="aligned wide"><label for="id_new_password2" class="labelform">{% trans 'Confirm password:' %}</label>
	<input id="id_new_password2" class="inputform" name="new_password2" type="password" /></p></p>
	</div>
	<div class="form-group">
        <input class="btn-download center" type="submit" value="{% trans 'Save' %}">
    </div>
	</form>
</div>

{% endblock %}

{% block content-related %}

{% endblock %}