{% extends "registration/base.html" %}
{% csrf_token %} 
{% block title %}Sign up{% endblock %}

{% block content %}
{% load staticfiles %}
	<script>
	function formSubmit()
	{
	document.getElementById("frm1").submit();
	}
	</script>
	
        <img class="center" src="{% static "registration/img/icono.png" %}">
         
          <div class="form">
                    
               <form  id="frm1" method="post" action="" class="wide">
               {% csrf_token %}
                    <div align="right">
                     <label class="error">{{ form.non_field_errors }}</label>
                     {% if form.username.errors %}
 						<label class="error">{{ form.username.errors.as_text }}</label>
 						{% endif %}
                    </div>
                    <div class="form-group">
                       <label class="labelform">Username: </label>
                       <input id="id_username" class="inputform" maxlength="30" name="username" type="text" />
                         </div>
                    <div align="right">
                          {% if form.email.errors %}
 						  <label class="error">{{ form.email.errors.as_text }}</label>
 						{% endif %}
                    </div>
                    <div class="form-group">
                       <label class="labelform">Email Address: </label>
                    	<input id="id_email"  class="inputform" name="email" type="text" />
                         
                   </div>
                   <div align="right">
                   {% if form.password1.errors %}
  						 <label class="error">{{ form.password1.errors.as_text }}</label>
						 {% endif %}
                   </div>                
                   <div class="form-group">
                       <label class="labelform">Password: </label>
                        <input id="id_password1" class="inputform"  name="password1" type="password" />
                   </div>
                   <div align="right">
                      {% if form.password2.errors %}
       				   <label class="error">{{ form.password2.errors.as_text }}</label>
			  		   {% endif %}
                   </div>
                   <div class="form-group">
                	  <label class="labelform">Confirm Password: </label>
                       <input id="id_password2" class="inputform" name="password2" type="password" />
                   </div>
                   <div class="form-group">
                       <input class="btn-download center" type="submit" value="Create Account">
                   </div>
                   <div class="form-group">
                       <p>Or <a href="{% url 'auth_login' %}">login</a> with EnigmaGPG!</p>
                   </div>
               </form>
           </div>
  
{% endblock %}

{% block content-related %}
<div class="containerbody"> 
<p><span style="font-size:10pt">Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</span></p>

<p><span style="font-size:10pt">We'll only use your email to send you signup instructions. We hate spam
as much as you do.</span></p>

<p><span style="font-size:10pt">This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</span></p>
</div>
{% endblock %}
