{% extends "registration/base.html" %}

{% block title %}Registration complete{% endblock %}

{% block content %}
<div class="containerbody"> 
<h2 class="bluetitle">Check your email</h2>
<p>An activation link has been sent to the email address you supplied, along with instructions for activating your account.</p>
</div> 
{% endblock %}