{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans "Invite User" %}{% endblock %}

{% block content %}
  <h2 class="bluetitle">{% trans "Invite User" %}</h2>

<p>{% trans "Enter your e-mail address below, and we'll e-mail instructions for inviting user." %}</p>
 <div class="form">
	<form action="{% url 'activate_invite_user' %}" method="post">
		{% csrf_token %}
    <div class="form-group">
		{{ form.email.errors }}
		<p><label for="id_email" class="labelform">{% trans 'E-mail address:' %}</label> 
		<input id="id_email" class="inputform" maxlength="254" name="email" type="text" />  
	</div>
	<div class="form-group">
		<input class="btn-download center" type="submit" value="{% trans 'Invite' %}" /></p>
	</div>
	</form>
</div>
{% endblock %}
