{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<h2>{% trans "Account Inactive" %}</h2>

<p>{% trans "This account is inactive." %}</p>
{% endblock %}
