{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Secure Messaging Platform | Enigma GPG {% block title %}Tagging Exploration{% endblock %}</title>
        <meta name="keywords" content="encrypt, messages, platform, secure, enigma, PRISM, SIBIOS, mobile, free, nsa">
		<meta name="description" content="EnigmaGPG Secure Messaging Platform, allows you to encrypt messages and files.">
        <meta name="viewport" content="width=1024">
		
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
       <link rel="stylesheet" href="{% static "registration/css/normalize.css" %}">
       <link rel="stylesheet" href="{% static "registration/css/main.css" %}">
       <script src="{% static "registration/js/vendor/modernizr-2.6.2.min.js" %}"></script>
    </head>
<body>

   <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		<header class="site-header">
            <div class="site-header-container">
                <div class="site-logo"></div>
                <ul class="nav_main">
                   	{% if user.is_authenticated %}
	               <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>  </li>
	               <li><a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a></li>
	           	   <li><a href="{% url 'userProfileView' %}">{{ user.username|escape }} </a></li>
	               {% else %}
	               <!-- <li><a href="{% url 'index' %}" data-ga-category="Pricing" data-ga-action="Pricing - top" data-ga-label=""> Pricing </a></li> -->
                   <li><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></li>
                   <li><a class="get_started_top" href="{% url 'registration_register' %}" data-ga-category="GetStarted" data-ga-action="GetStarted - top" data-ga-label=""> <strong>Get Started</strong></a></li>
	               {% endif %}  
                </ul>
            </div>
        </header>

    <div class="site-content">
      <div class="containerbody"> 
        {% block content %}{% endblock %}
        {% block main_content %}{% endblock %}
        {% block content-related %}
	        {% endblock %}
	 </div>
    </div>
    
     <footer class="site-footer" role="contentinfo"> 
       {% block footer %}
       <hr />
       {% endblock %}
        <div class="containerfooter"> 
             <p> 
                 <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1374787011.html#_=1375144400914&amp;count=none&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http://enigmagpg.com&amp;size=l&amp;text= &amp;via=EnigmaGpg" class="twitter-share-button twitter-count-none" style="width: 77px; height: 28px; " title="Twitter Tweet Button" data-twttr-rendered="true"></iframe> 
                 &nbsp; 
                 
             </p> 
             EnigmaGPG ® 2013 Copyrights - <a href="http://madeinmdq.com">Made in MDQ</a>. 
         </div> 
     </footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{% static "registration/js/plugins.js" %}"></script>
        <script src="{% static "registration/js/main.js" %}"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
       <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-42272716-1', 'enigmagpg.com');
	  ga('send', 'pageview');

	</script> 
</body>
</html>

