{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h2 class="bluetitle">{% trans "Sign Up" %}</h2>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to 
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
    <div class="form">
		<form class="signup" id="signup_form" method="post" action="">
		  {% csrf_token %}
		  <div align="right">
		  	{% if form.username.errors %} <label class="error">{{ form.username.errors|join:", " }}</label>{% endif %}
		  </div>
		   <div class="form-group">
		     <label class="labelform" for="id_username">Username: </label>
		     <input id="id_username" class="inputform" maxlength="30" name="username" placeholder="Username" type="text" value="{{ form.username.value }}" />
		  </div>
		  <div align="right">
		 	 {% if form.email.errors %}<label class="error">{{ form.email.errors|join:", " }}</label>{% endif %}
		  </div>
		   <div class="form-group">
		     <label class="labelform" for="id_email">E-mail: </label>
		     <input id="id_email" class="inputform" name="email" placeholder="E-mail address" type="text" value="{{ form.email.value }}" />
		  </div>
		  <div class="form-group">
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  </div>
		  {% endif %}
		   <div class="form-group">
		       <input class="btn-download center" type="submit" value="{% trans "Sign Up" %}">
		   </div>
		</form>
        </div>

{% endblock %}


