/*html,body{
	width: 800px;
	height: 600px;
}
*/

.login-container,.home-container{
	/*margin-top: 15%;*/
/*	height: 350px;
	overflow-y:auto;*/
}

.form-box{
	background-color: #d8d8d8;
	border: 1px solid #888B8A;
	width: 75%;
	padding: 5%;
	border-radius: 5px;
	margin: auto;
}

button{
	margin-top: 1% !important;
}

.form-box .form-group input{
	width: 80%;
	display: inline-block;
}

.form-box .form-group label{
	width: 18%;	
}

.enigma-logo{
	background-image: url(../images/enigma_mark_50px.png);
	background-size: 200px;
	background-repeat: no-repeat;
	width: 200px;
	height: 50px;
	margin: auto;
}

.error{
	color: #dd4b39;
}

.spinner{
	background-image: url(../images/spinner.gif);
	background-size: 30px;
	margin: 2% auto;
	width: 30px;
	height: 30px;
}

.spinner-search{
	background-image: url(../images/spinner_search.gif) !important;
	background-repeat: no-repeat;
	background-size: 4%;
	background-position: 95% center;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 1% 3%;
}

.search{
	background-image: url(../images/glyphicons_027_search.png);
	background-repeat: no-repeat;
	background-size: 4%;
	background-position: 95% center;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 1% 3%;
}

.search-input{
	width: 90%;
	border: none;
}

.search-input:hover, 
.search-input:active, 
.search-input:focus {
    outline:0px !important;
    -webkit-appearance:none;
}

textarea.form-control{
	margin-top: 5%;
	height: 150px !important;
}

.tab-content{
	margin-top: 5%;
}

footer{
	position: absolute;
	bottom: 0;
	border-top: 1px solid #dadada;
	width: 95%;
	margin: 0 2%;
}

footer p{
	text-align: center;
}

.login-container > p{
	width: 75%;
	margin: auto;	
}
